{{ define "hero" }}
    {{ partial "hero.html" (dict "title" .Params.title "small_title" "true") }}
{{ end }}

{{ define "main" }}
    <section class="container mx-auto text-center my-16">
        {{ with .Params }}
        <div style="height: 60vh" class="flex flex-col flex-wrap w-full">
            {{ range .messages }}
                <div class="w-4/12 border m-3 p-2">
                    <div>{{ .message }}</div>
                    <div>{{ .type }}</div>
                </div>
            {{ end }}
        </div>
        {{ end }}
    </section>
{{ end }}
